@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import "tailwindcss";

@theme {
  --color-text: #fff8f0;
  --color-background: #4b2e2b;
  --color-button: #c08552;
  --color-secondary: #8c5a3c;

  --font-ranchers: "Ranchers", cursive;
 
}
